/* Formatações gerais */

body {
    background-color: black;
}

header {
    padding-top: 20px;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.69) 0%,
            rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
}

header img {
    width: 200px;
}

/* Botões customizados */

.btn-custom-white {
    background-color: white;
}

.btn-custom-translucent {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.btn-custom-translucent:hover {
    color: white;
    opacity: 0.8;
}

.btn-custom-white:hover {
    opacity: 0.8;
}

.btn-custom-round {
    padding: 5px 9px !important;

}

/* Formatação do menu */

.opacity-50 {
    opacity: 0.5;
}

.menu_list {
    list-style: none;
    padding-left: 0;
    padding-top: 12px;
}

.menu_list li {
    display: inline-block;
    margin-left: 15px;
}

.menu_list a {
    color: white;
    text-decoration: none;
}

/* Formatação do hero */

#hero {
    width: 100%;
    height: 700px;
    background-image: url(/public/img/capa_filme.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0.9;
}

#hero::after {
    content: '';
    width: 100%;
    height: 350px;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: absolute;
    left: 0;
    z-index: 2;
    top: calc(700px - 350px);
}

#hero_infos {
    padding: 0;
    margin-top: 170px;
    z-index: 3;
    position: relative;
}

#hero_infos img.logo {
    margin-bottom: 50px;
    width: 600px;
}

#hero_infos h1 {
    margin-bottom: 20px;
}

#hero_infos h1 img {
    width: 35px;
    margin-top: -10px;
    margin-right: 15px;
}

/* Formatação do caurrosel de filmes */

h5 {
    margin-left: 50px;
}

#main-content {
    margin-top: 700px;
}

.filme_lista {
    overflow-x: scroll;
    list-style: none;
    white-space: nowrap;
    padding: 20px 0;
    display: block;
    border: 1px solid transparent;
}

.filme_lista::-webkit-scrollbar {
    display: none;
}

.filme {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-right: 10px;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.5s;
    overflow: auto;
    border: 1px solid transparent;
    overflow-y: hidden;
}

.filme img {
    height: 150px;
}

.filme:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 999;
    transform: 0.5s;
}

.filme:hover .filme_info {
    transform: scale(1);
    transition: 0.5s;
}

.filme:first-child {
    margin-left: 70px;
}

.filme_info {
    background-color: #171717;
    padding: 10px;
    width: 100%;
    height: 100px;
    transform: scale(0);
}

.filme_info .col-12 {
    margin-top: 5px;
}

.filme_info .col-12:first-child {
    margin-bottom: 20px;
}

.filme_info p {
    color: #7E7B7B;
    font-size: 12px;
}

.filme_info p text {
    color: white;
}

section {
    margin-bottom: -100px;
    position: relative;
}

section:hover {
    z-index: 9;
}

/* Formatação do modal */

.modal-dialog,
.modal-content {
    background: #171717;
}

.modal-dialog {
    max-width: 600px;
}

.modal-hero {
    height: 300px;
    background-image: url(/public/img/capa_filme.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    margin-bottom: 30px;
}

.modal-hero::after {
    content: '';
    width: 100%;
    height: 200px;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #171717 100%);
    position: absolute;
    left: 0;
    margin-top: -155px;
    z-index: 1;
}

.modal-hero img {
    width: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
}

.modal-hero-infos {
    position: relative;
    z-index: 2;
}

.modal-hero-infos button:first-child {
    margin-right: 20px;
}

.filme_descricao {
    font-size: 15px;
    color: #fff;
}

.filme_elenco {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.55);
}

.filme_elenco text {
    color: #fff;
}

#lista_episodios {
    list-style: none;
    padding: 0;
}

#lista_episodios li:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
}

#lista_episodios li {
    padding: 20px;
}

#lista_episodios li p {
    font-size: 13px;
}